<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="soundcom.scorelab.org.soundcom_lib">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".Permission"
            android:label="Soundcom"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
